body
    padding: 0
    margin: 0

picture,
img
    display: block
    max-width: 100vw
    height: 100vh
    position: absolute
    top: 0
    left: 0

main
    position: relative

.desktop
    display: none

@media (min-width: 768px)
    .desktop
        display: block
        opacity: 0.4

    .mobile
        display: none
