---
// Styles
import "../styles/reset.sass";
import "../styles/global.sass";

// Components
import Header from "../components/Header.astro";
---

<html lang="es">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content="Leandro Hanc - Web Developer Portfolio" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Allison&family=Lato:wght@700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,400&display=swap"
    rel="stylesheet"
  />

  <title>Leandro Hanc - Web Developer</title>
  <Header />

  <main>
    
  </main>
</html>
