---
// Styles
import "../styles/reset.sass";
import "../styles/global.sass";

// Components
import Header from "../components/Header.astro";
---

<html lang="es">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<meta name="description" content="Leandro Hanc - Web Developer Portfolio" />
	<title>Leandro Hanc - Web Developer</title>

	<Header />
	<main>
		<p>hola</p>
	</main>
</html>
